html, body {
    width: 100%;
    overflow-x: hidden;
}

.randomPage {
    background-image: url("../IMAGES/randomrecipe/recipebg.jpg");
    background-position: center center;
    background-size: cover;
}

.recipeCardContainer {
    display: flex;
    justify-content: center;

}